.wrapper {
  .about {
    .container {
      .box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 20px;
        color: $sub-color;
        margin-top: 50px;
        .img {
          img {
            max-width: 400px;
            max-height: 600px;
            margin: auto;
          }
        }
        .content {
          h1 {
            font-size: 40px;
            margin-bottom: 20px;
          }
          p {
            margin-bottom: 50px;
            line-height: 1.8;
          }
          a {
            @include mainBtn();
          }
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .wrapper {
    .about {
      .container {
        .box {
          .img {
            img {
              max-width: 300px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 415px) {
  .wrapper {
    .about {
      .container {
        .box {
          display: flex;
          flex-direction: column;
          margin-top: 70px;
        }
        .box-fix {
          display: flex;
          flex-direction: column-reverse;
          margin-bottom: 70px;
        }
      }
    }
  }
}
