.wrapper {
  .avaiable {
    margin-top: 40px;
    .container {
      margin-bottom: 100px;
      .choice-list {
        margin-bottom: 60px;
        display: grid;
        grid-template-columns: repeat(5, 2fr);
        justify-content: center;
        gap: 40px;
        .item {
          h1 {
            font-size: 18px;
            color: $sub-color;
          }
          input {
            color: $sub-color;
            border-bottom: 1px solid $sub-color;
            margin-top: 20px;
            padding: 10px 0;
            color: white;
            width: 100%;
          }
          select {
            color: $sub-color;
            border-bottom: 1px solid $sub-color;
            margin-top: 20px;
            padding: 10px 0;
            background-color: $main-color;
            color: white;
            width: 100%;
          }
        }
      }
    }
    a {
      margin-top: 40px;
      @include mainBtn();
    }
  }
}
@media screen and (max-width: 768px) {
  .wrapper {
    .avaiable {
      .container {
        .choice-list {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 40px;
        }
      }
    }
  }
}
@media screen and (max-width: 320px) {
  .wrapper {
    .avaiable {
      .container {
        .choice-list {
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          gap: 40px;
          .item {
            input,
            select {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
